# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Oo]bj/
[Bb]in/
*.log

# mstest test results
TestResults

# User file
*.user
*.suo

*.docstates
*.cache
*.ncrunchproject
*.ncrunchsolution

UpgradeLog.XML
_UpgradeReport_Files

_Resharper*/
