@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link type="text/css" href="@Url.Content("~/Content/css/bootstrap.css")" rel="Stylesheet" type="text/css"/>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/lib/jquery-1.7.2.min.js")" language="javascript">
    </script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/widgets/janrain.js")">
    </script>
</head>
<body>
    <a class="btn btn-primary janrainEngage" href="#">Sign-In</a>
</body>
</html>
