<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <!--environment is either remote or local -->
    <add key="environment" value="remote" />
    <add key="storename" value="ShindyTest" />
    <add key="LOGENTRIES_ACCOUNT_KEY" value="1713fc23-c0be-4460-8d11-b0ebb6daa0ee" />
    <add key="LOGENTRIES_LOCATION" value="AppHarbor/Default" />
    <add key="webPages:Enabled" value="false" />
    <add key="janrain_api_key" value="" />
    <add key="janrain_api_url" value="" />
    <add key="twitterConsumerKey" value="" />
    <add key="twitterConsumerSecret" value="" />
    <add key="facebookAppID" value="" />
    <add key="facebookAppSecret" value="" />
    <add key="googleAppID" value="" />
    <add key="googleAppSecret" value="" />
    <add key="default_page_size" value="10" />
    
  </appSettings>
  <nlog>
    <extensions>
      <add assembly="le_nlog" />
    </extensions>
    <targets>
      <target name="logentries" type="Logentries" debug="true" ssl="false" layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Info" appendTo="logentries" />
    </rules>
  </nlog>
  <connectionStrings>
    <add name="RavenDB" connectionString="Url=https://1.ravenhq.com/databases/AppHarbor_98c879d8-4ee0-4d43-9028-c3af672d0950;ApiKey=5fdce11a-dd5b-4527-9d2c-8f2103beeee3" />
    <add name="RavenDBLocal" connectionString="" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
        <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
